/* Charity: water Brand Colors

Primary Colors:
- Yellow:     #FFC907
- Blue:       #2E9DF7

Secondary Colors:
- Light Blue: #8BD1CB
- Green:      #4FCB53
- Orange:     #FF902A
- Red:        #F5402C
- Dark Green: #159A48
- Pink:       #F16061

*/

body {
    padding: 0;
    margin: 0;
    background-color: #222;
    color: white;
    text-align: center;
}

img {
    display: none;
}

.canvas-container {
    width: 816px;
    margin: 100px auto;
}
